body{
  background-color:#5b5b5e;
  
  flex-direction: column;
  color: black;
  align-items: center;
  display: flex;
 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
label{
  font-size: medium;
  margin: 5px;
}
input{
  width:200px;
  height: 25px;
  background-color: #fdfdfd;
  color: black;
}
.item{
  display: flex;
  max-width: 500px;
  margin: auto;
  margin:5px;
}
.row{
  display: flexbox;
  max-width: 500px;
  margin: auto;
  overflow: auto;
}
.seat{
  margin:5px;
  height: 40px;
  display: inline ;
  width:40px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  background-color: #444451;
}
h1{
  font-weight: 400;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.screen{
  background-color: white;
  height: 90px;
  width:100%;
  
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255,255,255,0.75);
}

.App {
  text-align: center;
  color: white;
  line-height: 40px;
  perspective: 1000px;
  margin-bottom: 30px;
}

.occupied{
  margin:5px;
  height: 40px;
  display: flexbox;
  width:40px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor:  not-allowed;
  background-color: rgb(255, 158, 158);
}
 
select{
  width:100px;
  margin-left: 20px;
}
.book{
  margin-top: 70px;
  align-items: center;
}

.route{
  background-color: #0c947d; /* Green */
  border: none;
  color: white;
  padding: 8px 15px;
  width: 200px;
  /* margin-right: 220px; */
  margin-left: 100px;
  text-align: left;
  text-decoration: none;
  display: inline;
  font-size: 14px;

}

.form_class{
  text-align: left;
  font-size: 16px;
}

.option{
 
  margin-right: 40px;
  margin-bottom: 100px;
  align-items: center;
}

.font{
  text-align: left;
}

.arrow{
  width: 50px;
  height: 20px;
  align-items: center;
  text-align: left;

}
.submit{
  background-color: #4CAF50;
  border:none;
  color: white;
  cursor: pointer;
  display: inline;
  width:100px;
  padding: 8px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
.logo{
  color: #28aecf;
  display: flex;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 10px;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
  cursor: pointer;
 
}

/* Login Page */

.login-header h3{
  color:rgb(18, 216, 223)
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #a4b955;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #8cc98e;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.selecteds{
  display: flex;
  padding-inline-start: 0;
  align-items: center;
  justify-content: center;
 list-style: none;
}

.selected{
  display: none;

}
.selected.on{
  display: inline-block;
}
.selected.on~.selected.on::before{
  content: ',';
}

.selects{
  display: flex;
  padding-inline-start: 0;
  
 list-style: none;
}

.select{
  display: none;

}
.select.on{
  display: inline-block;
}
.select.on~.select.on::before{
  content: ',';
}




/*  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #e8f0f1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.container {
  position: relative;
  width: 350px;
  height: 600px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #9dcfd8;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}




.inputs {
  text-align: left;
  margin-top: 30px;
}

/* label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
} */



label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}



button:hover {
  box-shadow: none;
}


